.lazy-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 0;
    padding: 0;
    list-style: none;
  }
  
  .lazy-list li {
    width: 48%;
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .lazy-list-img-container {
    width: 100%;
    max-width: 200px;
    height: auto;
    margin-bottom: 10px;
    display: flex;
    justify-content: center;
  }
  
  .lazy-list-img-container img {
    width: 100%;
    height: auto;
  }
  
  .lazy-list li p {
    margin: 0;
    text-align: center;
  }
  